{% extends 'base_cart.html' %}
{% load static %}
{% load humanize %}
{% block main %}
	<main class="flex-grow bg-background pb-14 pt-36 xs:pt-36">
        <div class="container pb-14">
          <div class="grid grid-cols-12 gap-2 lg:gap-6">
            <!-- breadCrumb -->
            <div class="col-span-12 rounded-lg bg-muted">
              <ol class="grid grid-cols-3 overflow-hidden rounded-lg">
                <li
                  class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-primary opacity-50 sm:text-sm md:text-base"
                >
                  <svg class="h-6 w-6 md:h-8 md:w-8">
                    <use xlink:href="#check" />
                  </svg>
                  <p class="leading-none">سبد خرید</p>
                </li>
                <li
                  class="flex flex-col items-center justify-center gap-2 bg-primary/10 p-4 text-xs text-primary /10 sm:text-sm md:text-base"
                >
                  <svg class="h-6 w-6 md:h-8 md:w-8">
                    <use xlink:href="#delivery-truck" />
                  </svg>
                  <p class="leading-none">شیوه ارسال</p>
                </li>
                <li
                  class="flex flex-col items-center justify-center gap-2 p-4 text-xs text-primary opacity-50 sm:text-sm md:text-base"
                >
                  <svg class="h-6 w-6 md:h-8 md:w-8">
                    <use xlink:href="#credit" />
                  </svg>

                  <p class="leading-none">پرداخت</p>
                </li>
              </ol>
            </div>
            <!-- Content -->
            <div class="col-span-12 md:col-span-8">
              <div class="rounded-lg bg-muted p-4">
                <!-- Address Section -->
                <div class="mb-6">
                  <div class="flex items-center justify-between gap-x-2 pb-4">
                    <h1 class="flex items-center gap-x-4 text-sm xs:text-base md:text-lg">
                      آدرس تحویل سفارش
                    </h1>
                    <button
                      data-modal-target="address-add-modal"
                      data-modal-toggle="address-add-modal"
                      class="btn-primary-nobg px-3 py-2 text-sm"
                    >
                      <span>
                        <svg class="h-6 w-6">
                          <use xlink:href="#address-add"></use>
                        </svg>
                      </span>
                      <span> آدرس جدید </span>
                    </button>
                  </div>
                  <fieldset class="space-y-2">
                    <legend class="sr-only">Address</legend>
                    <div>
                      <input
                        type="radio"
                        name="address"
                        value="address-1"
                        id="address-1"
                        class="peer hidden"
                      />
                      <label for="address-1" class="relative block cursor-pointer rounded-lg border p-4 shadow-base peer-checked:border-emerald-500 hover:border-border/50 peer-checked:dark:border-emerald-400 dark:hover:border-white/10">
                        <div class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2">
                          {% if request.user.address.all %}
                            {% with request.user.address.last as address %}
                              <p class="line-clamp-2 h-10 text-sm text-text/90 xs:text-base sm:line-clamp-1 sm:h-6">
                                {{ address.province }} -- {{ address.city }} -- {{ address.address }} -- اقا/خانم : {{ address.first_name }}
                              </p>
                            {% endwith %}
                              {% else %}
                              <p class="line-clamp-2 h-10 text-sm text-text/90 xs:text-base sm:line-clamp-1 sm:h-6">
                              لطفا یک ادرس اضافه کنید.
                              </p>
                          {% endif %}
                          <div class="hidden md:block">
                            <!-- Dropdown menu -->
                          </div>
                        </div>
                      </label>
                    </div>
                  </fieldset>
                </div>
                <!-- Delivery Section -->
                <div>
                  <div class="flex items-center justify-between gap-x-2 pb-4">
                    <h2
                      class="flex items-center gap-x-4 text-sm xs:text-base md:text-lg"
                    >
                      شیوه ارسال
                    </h2>
                  </div>

                  <fieldset class="grid grid-cols-1 gap-2 sm:grid-cols-2">
                    <legend class="sr-only">Delivery</legend>

                    <div>
                      <input
                        type="radio"
                        name="delivery"
                        value="delivery-1"
                        id="delivery-1"
                        class="peer hidden"
                      />

                      <label
                        for="delivery-1"
                        class="relative block h-[116px] cursor-pointer rounded-lg border p-4 shadow-base peer-checked:border-emerald-500 hover:border-border/50 peer-checked:dark:border-emerald-400 dark:hover:border-white/10"
                      >
                        <div
                          class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2"
                        >
                          <p
                            class="line-clamp-1 text-sm text-text/90 xs:text-base"
                          >
                            تیپاکس
                          </p>
                          <img
                            src="{% static 'assets/images/others/tipax.png' %}"
                            alt=""
                            class="w-25"
                          />
                        </div>

                        <div class="mb-1 text-primary">
                          <span>60,000</span>
                          <span class="text-sm">تومان</span>
                        </div>

                        <div class="text-sm text-primary">
                          <span> رایگان بالای 500,000 </span>
                        </div>
                      </label>
                    </div>

                    <div>
                      <input
                        type="radio"
                        name="delivery"
                        value="delivery-2"
                        id="delivery-2"
                        class="peer hidden"
                      />

                      <label
                        for="delivery-2"
                        class="relative block h-[116px] cursor-pointer rounded-lg border p-4 shadow-base peer-checked:border-emerald-500 hover:border-border/50 peer-checked:dark:border-emerald-400 dark:hover:border-white/10"
                      >
                        <div
                          class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2"
                        >
                          <p
                            class="line-clamp-1 text-sm text-text/90 xs:text-base"
                          >
                            تیپاکس
                          </p>
                          <img
                            src="{% static 'assets/images/others/tipax.png' %}"
                            alt=""
                            class="w-25"
                          />
                        </div>

                        <div class="text-primary">
                          <span class="text-sm">پرداخت در مقصد</span>
                        </div>
                      </label>
                    </div>
                  </fieldset>
                </div>
              </div>
            </div>
            <!-- Cart Price Detail -->
            <div class="col-span-12 md:col-span-4">
              <!-- Desktop -->
              <div class="hidden rounded-lg bg-muted p-4 md:block">
                <div class="mb-2 divide-y">
                  <!-- cart items price before discount - coupon -->
                  <div class="flex items-center justify-between gap-x-2 py-6">
                    <div class="text-sm text-text/90 lg:text-base">
                      قیمت کالا ها ({{ cart.total_products }})
                    </div>

                    <div class="text-sm text-primary lg:text-base">
                      <span class="font-bold">{{ cart.total_price|intcomma }}</span>
                      <span class="text-xs lg:text-sm">تومان</span>
                    </div>
                  </div>
                  <!-- Discount -->
                  <div class="flex items-center justify-between gap-x-2 py-6">
                    <div class="text-sm text-text/90 lg:text-base">تخفیف</div>

                    <div
                      class="text-sm font-medium text-red-500 dark:text-red-400 lg:text-base"
                    >
                      <span class="font-bold">0</span>
                      <span class="text-xs lg:text-sm">تومان</span>
                    </div>
                  </div>
                  <!-- delivery price -->
                  <div class="flex items-center justify-between gap-x-2 py-6">
                    <div class="text-sm text-text/90 lg:text-base">
                      هزینه ارسال
                    </div>

                    <!-- <div class="text-sky-500 dark:text-sky-400  text-sm lg:text-base">
                    <span class="font-bold">60,000</span>
                    <span class="text-xs lg:text-sm">تومان</span>
                  </div> -->

                    <!-- <div class="text-sky-500 dark:text-sky-400  text-sm lg:text-base">
                    <span class="font-bold">
                      پرداخت در مقصد
                    </span>
                  </div> -->
                    <div
                      class="text-sm text-sky-500 dark:text-sky-400 lg:text-base"
                    >
                      <span class="font-bold"> رایگان </span>
                    </div>
                  </div>

                  <!-- Order final price -->

                  <div class="flex items-center justify-between gap-x-2 py-6">
                    <div class="text-sm text-text/90 lg:text-base">
                      مبلغ قابل پرداخت
                    </div>

                    <div class="text-sm text-primary lg:text-base">
                      <span class="font-bold">{{ cart.total_price|intcomma }}</span>
                      <span class="text-xs lg:text-sm">تومان</span>
                    </div>
                  </div>
                </div>
                <div>
                  {% if request.user.address.all and cart.total_products %}
                    <a href="{% url 'cart:order_creat' %}" class="btn-primary py-3">
                      ادامه فرایند خرید
                    </a>
                      {% else %}
                      <span class="btn-primary py-3" style="background-color: lightgreen">
                      ادامه فرایند خرید
                      </span>
                  {% endif %}
                </div>
              </div>
              <!-- Mobile -->
              <div
                class="fixed inset-x-0 bottom-0 flex items-center gap-x-6 rounded-t-2xl bg-muted p-4 md:hidden"
              >
                <a
                  class="btn-primary flex-grow py-3"
                  href="checkout-payment.html"
                >
                  ادامه فرایند خرید</a
                >
                <div class="flex flex-col items-center gap-y-1">
                  <div class="text-sm text-text/60">مبلغ قابل پرداخت</div>
                  <div class="text-text/90">
                    <span class="font-bold">1,200,000</span>
                    <span class="text-sm">تومان</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- Address Delete modal -->
      <div
        id="address-delete-modal-1"
        tabindex="-1"
        aria-hidden="true"
        class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
      >
        <div class="relative max-h-full w-full max-w-md">
          <div
            class="divide-y overflow-hidden rounded-lg bg-muted shadow ring-1 ring-gray-100 dark:ring-white/5"
          >
            <div class="px-4 py-5 sm:px-6">
              <div class="flex items-center justify-between">
                <h3 class="md:text-lg">حذف آدرس</h3>

                <button
                  class=" "
                  data-modal-hide="address-delete-modal-1"
                  type="button"
                >
                  <svg class="h-5 w-5">
                    <use xlink:href="#close"></use>
                  </svg>

                  <span class="sr-only">Close Modal</span>
                </button>
              </div>
            </div>
            <div class="space-y-6 px-4 py-5 sm:p-6">
              <p class="text-text/90">آیا از حذف این آدرس اطمینان دارید؟</p>
              <div class="flex items-center justify-end gap-x-4">
                <button
                  class="btn-secondary px-4 py-2 text-sm"
                  data-modal-hide="address-delete-modal-1"
                  type="button"
                >
                  انصراف
                </button>
                <button class="btn-red px-4 py-2 text-sm" type="button">
                  حذف آدرس
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Address Add modal -->
      <div
        id="address-add-modal"
        tabindex="-1"
        aria-hidden="true"
        class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
      >
        <div class="relative max-h-full w-full max-w-2xl">
          <div class="divide-y overflow-hidden rounded-lg bg-muted shadow ring-1 ring-gray-100 dark:ring-white/5">
            <div class="px-4 py-5 sm:px-6">
              <div class="flex items-center justify-between">
                <h3 class="md:text-lg">ثبت آدرس جدید</h3>
                <button class=" " data-modal-hide="address-add-modal" type="button">
                  <svg class="h-5 w-5">
                    <use xlink:href="#close" />
                  </svg>
                  <span class="sr-only">Close menu</span>
                </button>
              </div>
            </div>
            <div class="space-y-6 px-4 py-5 sm:p-6">
              <form action="{% url 'cart:cart_shipping' %}" method="post">
              {% csrf_token %}
              <div class="grid grid-cols-2 gap-x-4 gap-y-5 sm:gap-6">
                <!-- Receiver name -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="name" class="relative block rounded-lg border shadow-base">
                      {{ form.first_name}}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      نام گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver family -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="family" class="relative block rounded-lg border shadow-base">
                    {{ form.last_name}}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      نام خانوادگی گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver Phone number -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="phoneNumber" class="relative block rounded-lg border shadow-base">
                      {{ form.phone }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      شماره تماس گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver National Code -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="nationalCode" class="relative block rounded-lg border shadow-base">
                    {{ form.National_code }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      کد ملی گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver Address -->
                <div class="col-span-2">
                  <label for="address" class="relative block rounded-lg border shadow-base">
                    {{ form.address }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      نشانی گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver City -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="city" class="relative block rounded-lg border shadow-base">
                    {{ form.city }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      شهر
                    </span>
                  </label>
                </div>
                <!-- Receiver Province -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="province" class="relative block rounded-lg border shadow-base">
                    {{ form.province }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      استان
                    </span>
                  </label>
                </div>
                <!-- Receiver Building Info -->
                <div class="col-span-2 flex w-full items-center gap-x-4 gap-y-5 sm:col-span-1 sm:gap-6">
                  <label for="buildingNumber" class="relative block w-full rounded-lg border shadow-base">
                    {{ form.license_plate }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      پلاک
                    </span>
                  </label>
                  <label for="buildingUnit" class="relative block w-full rounded-lg border shadow-base">
                      {{ form.Unit }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      واحد
                    </span>
                  </label>
                </div>
                <!-- Receiver Postal Code -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="postalCode" class="relative block rounded-lg border shadow-base">
                    {{ form.Postal_code }}
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      کد پستی
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-end">
                <button class="btn-primary w-full px-4 py-2 md:w-auto">
                  <span>
                    <svg class="h-5 w-5">
                      <use xlink:href="#address-add" />
                    </svg>
                  </span>
                  <span> ثبت آدرس جدید </span>
                </button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Address Edit modal -->
      <div
        id="address-edit-modal-1"
        tabindex="-1"
        aria-hidden="true"
        class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
      >
        <div class="relative max-h-full w-full max-w-2xl">
          <div
            class="divide-y overflow-hidden rounded-lg bg-muted shadow ring-1 ring-gray-100 dark:ring-white/5"
          >
            <div class="px-4 py-5 sm:px-6">
              <div class="flex items-center justify-between">
                <h3 class="md:text-lg">ویرایش آدرس</h3>

                <button
                  class=" "
                  data-modal-hide="address-edit-modal-1"
                  type="button"
                >
                  <svg class="h-5 w-5">
                    <use xlink:href="#close" />
                  </svg>

                  <span class="sr-only">Close menu</span>
                </button>
              </div>
            </div>

            <div class="space-y-6 px-4 py-5 sm:p-6">
              <div class="grid grid-cols-2 gap-x-4 gap-y-5 sm:gap-6">
                <!-- Receiver name -->
                <div class="col-span-2 sm:col-span-1">
                  <label for="name" class="relative block rounded-lg border shadow-base">
                    <input
                      type="text"
                      id="name"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="تایماز"
                      placeholder="نام گیرنده"
                    />
                    <span class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm">
                      نام گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver family -->
                <div class="col-span-2 sm:col-span-1">
                  <label
                    for="family"
                    class="relative block rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="family"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="اکبری"
                      placeholder="نام خانوادگی گیرنده"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      نام خانوادگی گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver Phone number -->
                <div class="col-span-2 sm:col-span-1">
                  <label
                    for="phoneNumber"
                    class="relative block rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="phoneNumber"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="09999999999"
                      placeholder="شماره تماس گیرنده"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      شماره تماس گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver National Code -->
                <div class="col-span-2 sm:col-span-1">
                  <label
                    for="nationalCode"
                    class="relative block rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="nationalCode"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="1666666666"
                      placeholder="کد ملی گیرنده"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      کد ملی گیرنده
                    </span>
                  </label>
                </div>

                <!-- Receiver Address -->
                <div class="col-span-2">
                  <label
                    for="address"
                    class="relative block rounded-lg border shadow-base"
                  >
                    <textarea
                      type="text"
                      id="address"
                      rows="3"
                      class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      placeholder="نشانی گیرنده"
                    >
استان تهران شهر تهران - خیابان گاندی جنوبی - نبش خیابان ۲۱ - پلاک ۲۸</textarea
                    >

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      نشانی گیرنده
                    </span>
                  </label>
                </div>
                <!-- Receiver City -->
                <div class="col-span-2 sm:col-span-1">
                  <label
                    for="city"
                    class="relative block rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="city"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="تهران"
                      placeholder="شهر"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      شهر
                    </span>
                  </label>
                </div>
                <!-- Receiver Province -->
                <div class="col-span-2 sm:col-span-1">
                  <label
                    for="province"
                    class="relative block rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="province"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="تهران"
                      placeholder="استان"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      استان
                    </span>
                  </label>
                </div>

                <!-- Receiver Building Info -->
                <div
                  class="col-span-2 flex w-full items-center gap-x-4 gap-y-5 sm:col-span-1 sm:gap-6"
                >
                  <label
                    for="buildingNumber"
                    class="relative block w-full rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="buildingNumber"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="28"
                      placeholder="پلاک"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      پلاک
                    </span>
                  </label>
                  <label
                    for="buildingUnit"
                    class="relative block w-full rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="buildingUnit"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="0"
                      placeholder="واحد"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      واحد
                    </span>
                  </label>
                </div>
                <!-- Receiver Postal Code -->
                <div class="col-span-2 sm:col-span-1">
                  <label
                    for="postalCode"
                    class="relative block rounded-lg border shadow-base"
                  >
                    <input
                      type="text"
                      id="postalCode"
                      class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 placeholder-transparent focus:outline-none focus:ring-0"
                      value="0000000000"
                      placeholder="کد پستی"
                    />

                    <span
                      class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-muted px-2 py-0.5 text-sm text-text/60 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm"
                    >
                      کد پستی
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-end">
                <button class="btn-primary w-full px-4 py-2 md:w-auto">
                  <span>
                    <svg class="h-5 w-5">
                      <use xlink:href="#address-edit" />
                    </svg>
                  </span>
                  <span> ویرایش آدرس </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}