{% extends 'base_account.html' %}
{% load static %}
{% block main %}
	<div class="flex min-h-screen items-center justify-center bg-background">
      <div class="container">
        <div class="mx-auto max-w-[450px] rounded-xl bg-muted p-5 shadow-base md:p-10">
          <!-- Logo -->
          <a href="{% url 'core:home' %}">
            <img
              src="{% static 'assets/images/logo.svg' %}"
              class="mx-auto mb-10 w-40"
              alt=""
            />
          </a>
          <h1 class="mb-10 text-center text-lg">فراموشی کلمه عبور</h1>
          <form method="post">
          {% csrf_token %}
          <div class="mb-4 space-y-4">
              <p>شماره موبایل یا ایمیل خود را وارد کنید</p>
            <label for="username" class="relative block rounded-lg border shadow-base">
               {{ form.username }}
            </label>
            <p class="h-5 text-sm text-red-500 dark:text-red-400">
              {{ form.username.errors }}
            </p>
            {% if messages %}
              {% for message in messages %}
                <p style="color: #e5e7eb">{{ message }}</p>
              {% endfor %}
            {% endif %}
          </div>
          <div>
            <button class="btn-primary w-full py-3">بازیابی کلمه عبور</button>
          </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

